{% extends "attendance/base.html" %}

{% block body %}
<div class="d-flex justify-content-center">
   <h2>Projenin Amacı</h2>
</div>

<div class="d-flex justify-content-center">

   <p>Günümüzde kullanılan yoklama sistemi, derse katılımı destekleyici
      bir unsur olarak kullanılmaktadır. Uygulanan sistemin
      kağıt üzerinde izlenebilirliği ve izlenebilirliğin verimsizliği bizi farklı arayışlara götürüyor.
      Yoklama sisteminde elde edilen bilgilerin saklanması için elektronik ortamda kullanılabilecek bir
      yöntem olmasına rağmen, yoklama olayının elde edilmesi yani bilginin oluşturulması süreci halen zaman
      ve zaman kaybına yol açan sağlıklı olmayan bir süreçtir. Bu yüzden projemizde yüz tanıma sistemini kullanarak derste
      oluşabilcek verimsizlikleri ortadan kaldırarak daha sağlıklı bir sistem orataya koyduk.
</p>
</div>



{% endblock %}