{% extends "attendance/base.html" %}

{% block body %}
    {%if lessons %}
        <h2>Derslerim</h2>
<div class="row">
    {% for lesson in lessons %}
        <div class="card " style="width: 18rem;">
            <div class="card-body rounded border border-warning card text-white bg-dark mb-3">
                <h5 class="card-title">{{ lesson }}</h5>
                <p class="card-text">{{ lesson }} dersi için yoklama almak ve devamsızlık raporlarını görüntülemek için aşağıdaki butona tıklayınız.</p>
                <a href="http://127.0.0.1:8000/attendance/lessons/{{ lesson.id }}" class="btn btn-primary">Lütfen Tıklayınız</a>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>Dersiniz Bulunmamaktadır</p>
</div>
    {% endif%}
{% endblock %}
